<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Fluffy Shanks</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/styles/slick.css"/>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <header>
      <h1>Hopscotch Demo</h1>
    </header>
    <main>
      <article class="stack" id="fluffy-shanks">

        <div class="card" id="fs001" style="background: red;">
          <div class="panel text" style="font-size: 64px;">
            <p>Hello <em>World</em></p>
          </div>
        </div>
        
        <div class="card" id="fs002">
          <div class="panel text" style="height: 50%;">
            <p>This is a <strong>test.</strong></p>
          </div>
          <div class="panel image" style="height: 50%;">
            <img src="/images/butts.gif" alt="circus ponies">
          </div>
        </div>
        
        <div class="card" id="fs003">
          <div class="panel text top right" data-font-size="36px" style="height: 25%; font-size: 36px;">
            <p><strong><em>This</em></strong> is a test.</p>
          </div>
          <div class="panel image" style="height: 75%;">
            <img src="/images/bojack.jpg" alt="bojack">
          </div>
        </div>
        
        <div class="card" id="fs004">
          <div class="panel text" data-font-size="64px" style="font-size: 64px;">
            <p>However the <a href="https://yiibu.com">picture shrinks</a> too much (width: 100%) when the screen is getting more narrow, and shows the body background-color in the bottom screen. The other method, width: auto;, only makes the image full size and does not respond to the screen size.</p>
          </div>
        </div>

        <div class="card" id="fs005">
            <div class="panel text" data-font-size="24px" style="font-size: 24px;">
              <p>However the <a href="https://yiibu.com">picture shrinks</a> too much (width: 100%) when the screen is getting more narrow, and shows the body background-color in the bottom screen. The other method, width: auto;, only makes the image full size and does not respond to the screen size.</p>
            </div>
            <div class="panel video controls">
                <video playsinline autoplay muted loop>
                  <source src="/images/atomic.mp4" type="video/mp4">
                    Sorry, your browser doesn't support embedded videos, 
                    but don't worry, you can <a href="videofile.webm">download it</a>
                    and watch it with your favorite video player!
                </video>
            </div>
          </div>

      </article>
  </main>
    <footer>
      <p>For more information please see <a href="https://github.com/bryanrieger/fluffy-shanks/blob/master/readme.md">readme</a> available on <a href="https://github.com/bryanrieger/fluffy-shanks">Github</a>.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/scripts/slick.min.js"></script>
    <script src="/scripts/client.js"></script>
  </body>
</html>
