<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>

<head>
  <title>Fluffy Shanks</title>
  <meta name="description" content="A cool thing made with Glitch">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/styles/slick.css" />
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <main>
    <article class="stack" id="fluffy-shanks">
      <div id="fs001" class="card">
        <div class="panel text" style="font-size: 64px;">
          <p>Hello
            <em>World</em>
          </p>
        </div>
      </div>
      
      <div id="fs002" class="card">
        <div class="panel text" style="height: 50%;">
          <p>This is a
            <strong>test.</strong>
          </p>
        </div>
        <div class="panel image" style="height: 50%;">
          <img src="/images/butts.gif" alt="circus ponies">
        </div>
      </div>

      <div id="fs003" class="card">
        <div class="panel text top right" style="height: 25%; font-size: 36px;">
          <p>
            <strong>
              <em>This</em>
            </strong> is a test.</p>
        </div>
        <div class="panel image" style="height: 75%;">
          <img src="/images/bojack.jpg" alt="bojack">
        </div>
      </div>

      <div id="fs004" class="card">
        <div class="panel text" style="height: 33%; font-size: 64px;">
          <p>One 😂</p>
        </div>
        <div class="panel text" style="height: 34%; font-size: 64px;">
          <p>Two</p>
        </div>
        <div class="panel text" style="height: 33%; font-size: 64px;">
          <p>Three</p>
        </div>
      </div>

      <div id="fs005" class="card" style="background-image: url('/images/bojack.jpg')">
        <div class="panel link">
            <a href="https://yiibu.com" target="_blank">
              <img src="/images/butts.gif" alt="preview" />
              <h1>Title</h1>
              <p>Description</p>
              <small>wired.com</small>
            </a>
        </div>
        <div class="panel text theme-green" style="font-size: 21px;">
          <p>However the <a href="https://yiibu.com"><mark>picture</mark> shrinks</a> too much <mark>(width: 100%) <a href="">when the</a> screen</mark> is getting more narrow, and shows the body background-color
            in the bottom screen. The <strong>other method</strong>, width: auto;, only makes <strike>the image</strike> full size and <em>does not respond</em> to the screen size.</p>
        </div>
      </div>

      <div id="fs006" class="card">
        <div class="panel text">
          <p>You can even embed (web) apps!</p>
        </div>
        <div class="panel embed">
          <iframe data-src="https://count-taravancil.hashbase.io/" width="100%" height="100%" frameborder="0"></iframe>
        </div>
      </div>

      <div id="fs007" class="card">
        <div class="panel clip">
          <a href="https://yiibu.com">
            <img src="" alt="preview" />
            <h1>Title</h1>
            <p>Description</p>
          </a>
        </div>
        <div class="panel text" style="font-size: 22px;">
          <p>However the
            <a href="https://yiibu.com">picture shrinks</a> too much (width: 100%) when the screen is getting more narrow, and shows the body background-color
            in the bottom screen. The other method, width: auto;, only makes the image full size and does not respond to
            the screen size.</p>
        </div>
      </div>

      <div id="fs008" class="card">
        <div class="panel text" style="font-size: 24px;">
          <p>
            <mark>However the
              <a href="https://yiibu.com">picture shrinks</a> too much (width: 100%) when the screen is getting more narrow, and shows the body background-color
              in the bottom screen. The other method, width: auto;, only makes the image full size and does not respond to
              the screen size.</mark>
          </p>
        </div>
        <div class="panel video">
          <video playsinline autoplay muted loop>
            <source src="/images/atomic.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      
    </article>
  </main>
  <footer>
    <!-- Remix Button -->
    <a href="https://glitch.com/edit/#!/remix/fluffy-shanks">
      <img src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fremix%402x.png?1513093958726" alt="remix button" aria-label="remix" height="33">
    </a>
  </footer>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
    crossorigin="anonymous"></script>
  <script src="/scripts/slick.min.js"></script>
  <script src="/scripts/client.js"></script>
</body>

</html>