
@font-face {
  font-family: 'Zilla Slab';
  src: url('/fonts/zilla-slab/regular.woff2') format('woff2'),
       url('/fonts/zilla-slab/regular.woff') format('woff'),
       url('/fonts/zilla-slab/regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Zilla Slab';
  src: url('/fonts/zilla-slab/italic.woff2') format('woff2'),
       url('/fonts/zilla-slab/italic.woff') format('woff'),
       url('/fonts/zilla-slab/italic.ttf') format('truetype');
  font-style: italic;                         
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Zilla Slab';
  src: url('/fonts/zilla-slab/bold.woff2') format('woff2'),
       url('/fonts/zilla-slab/bold.woff') format('woff'),
       url('/fonts/zilla-slab/bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Zilla Slab';
  src: url('/fonts/zilla-slab/bold-italic.woff2') format('woff2'),
       url('/fonts/zilla-slab/bold-italic.woff') format('woff'),
       url('/fonts/zilla-slab/bold-italic.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

 * {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

html, body {
  font-family: "Zilla Slab", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-overflow-scrolling: touch;
}
body {
  background: #efefef;
}

iframe {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

mark {
  padding: 2px 4px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

footer {
  display: none;
}

@media (min-width: 720px) and (min-height: 680px) {
  footer {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.stack {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #dedede;
  position: relative;
}

@media (min-width: 480px) {
  .stack {
    margin: 36px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.35);
    max-width: 375px;
    max-height: 560px;
  }
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: none;
  flex-direction: column;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #fff;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.panel {
  flex: 1 1 auto;
  display: flex;
  height: 50%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.text p {
  font-size: inherit;
  line-height: 1.4em;
  margin: 0;
  padding: 10px;
  width: 100%;
}
.text.top {
  align-items: flex-start;
}
.text.middle {
  align-items: center;
}
.text.bottom {
  align-items: flex-end;
}
.text.left p {
  text-align: left;
}
.text.center p {
  text-align: center;
}
.text.right p {
  text-align: right;
}
.text.justify p {
  text-align: justify;
}
.video video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.image.top-left img {
  object-position: 0% 0%; 
}
.image.top-center img {
  object-position: 50% 0%;
}
.image.top-right img {
  object-position: 100% 0%;
}
.image.middle-left img {
  object-position: 0% 50%;
}
.image.middle-center img {
  object-position: 50% 50%;
}
.image.middle-right img {
  object-position: 100% 50%;
}
.image.bottom-left img {
  object-position: 0% 100%;
}
.image.bottom-center img {
  object-position: 50% 100%;
}
.image.bottom-right img {
  object-position: 100% 100%;
}
.link {
  margin: 0;
  padding: 10px;
  flex-direction: column;
}
.link a {
  display: block;
  padding: 10px;
  background: #fff;
  box-shadow: 0 3px 3px rgba(0,0,0,0.35);
  text-decoration: none;
  display: flex;
  overflow: none;
  flex-direction: column;
}
.link h1 {
  font-size: 125%;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}
.link p {
  font-size: inherit;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}
.link img {
  width: 100%;
  height: 50%;
  overflow: hidden;
  object-fit: cover;
  display: block;
}
.link.compact a {
  width: 25%;
}
.link.compact img {
  width: 25%;
}
.link.default img {
  width: 100%;
}
.link.extended img {
  width: 100%;
}


.clip {
  margin: 10;
  padding: 10px;
}
.clip a {
  display: block;
}

.slick-list, .slick-track {
  height: 100%;
} 

/* Text panel themes                                                         */
/* Blue Theme                                                                */
.theme-blue {
  background: #fff;
}
.theme-blue p {
  color: #000;
}
.theme-blue a {
  color: #0075ea;
}
.theme-blue mark {
  color: #000;
  background: #c3e8f8;
}
.theme-blue mark a, .theme-blue a mark {
  color: #0075ea;
}
.theme-blue-invert {
  background: #000;
}
.theme-blue-invert p {
  color: #fff;
}
.theme-blue-invert a {
  color: #15a4fc;
}
.theme-blue-invert mark {
  color: #000;
  background: #c3e8f8;
}
.theme-blue-invert mark a, .theme-blue-invert a mark {
  color: #0075ea;
}
/* Yellow Theme                                                              */
.theme-yellow {
  background: #fff;
}
.theme-yellow p {
  color: #000;
}
.theme-yellow a {
  color: #0075ea;
}
.theme-yellow mark {
  color: #000;
  background: #fff4b3;
}
.theme-yellow mark a, .theme-yellow a mark {
  color: #0075ea;
}
.theme-yellow-invert {
  background: #000;
}
.theme-yellow-invert p {
  color: #fff;
}
.theme-yellow-invert a {
  color: #15a4fc;
}
.theme-yellow-invert mark {
  color: #000;
  background: #fff4b3;
}
.theme-yellow-invert mark a, .theme-yellow-invert a mark {
  color: #0075ea;
}
/* Orange Theme                                                              */
.theme-orange {
  background: #fff;
}
.theme-orange p {
  color: #000;
}
.theme-orange a {
  color: #f46300;
}
.theme-orange mark {
  color: #000;
  background: #fce2a2;
}
.theme-orange mark a, .theme-orange a mark {
  color: #ff4800;
}
.theme-orange-invert {
  background: #000;
}
.theme-orange-invert p {
  color: #fff;
}
.theme-orange-invert a {
  color: #f46300;
}
.theme-orange-invert mark {
  color: #000;
  background: #fff4b3;
}
.theme-orange-invert mark a, .theme-orange-invert a mark {
  color: #ff4800;
}
/* Red Theme                                                                 */
.theme-red {
  background: #fff;
}
.theme-red p {
  color: #000;
}
.theme-red a {
  color: #ff0039;
}
.theme-red mark {
  color: #000;
  background: #ffd3c7;
}
.theme-red mark a, .theme-red a mark {
  color: #ff0039;
}
.theme-red-invert {
  background: #000;
}
.theme-red-invert p {
  color: #fff;
}
.theme-red-invert a {
  color: #ff0039;
}
.theme-red-invert mark {
  color: #000;
  background: #ffd3c7;
}
.theme-red-invert mark a, .theme-red-invert a mark {
  color: #ff0039;
}
/* Purple Theme                                                              */
.theme-purple {
  background: #fff;
}
.theme-purple p {
  color: #000;
}
.theme-purple a {
  color: #9400ff;
}
.theme-purple mark {
  color: #000;
  background: #d7d9f2;
}
.theme-purple mark a, .theme-purple a mark {
  color: #8000d7;
}
.theme-purple-invert {
  background: #000;
}
.theme-purple-invert p {
  color: #fff;
}
.theme-purple-invert a {
  color: #f793fb;
}
.theme-purple-invert mark {
  color: #000;
  background: #d7d9f2;
}
.theme-purple-invert mark a, .theme-purple-invert a mark {
  color: #8000d7;
}
/* Green Theme                                                               */
.theme-green {
  background: #fff;
}
..theme-green p {
  color: #000;
}
.theme-green a {
  color: #12bc00;
}
.theme-green mark {
  color: #000;
  background: #dbea8e;
}
.theme-green mark a, .theme-green a mark {
  color: #058b00;
}
.theme-green-invert {
  background: #000;
}
.theme-green-invert p {
  color: #fff;
}
.theme-green-invert a {
  color: #aefb4a;
}
.theme-green-invert mark {
  color: #000;
  background: #dbea8e;
}
.theme-green-invert mark a, .theme-green-invert a mark {
  color: #058b00;
}
/* Transparent                                                               */
.transparent {
  background: none;
}